# HwBinder IPC from client to server
binder_call(hal_cygnus_camera_motor_client, hal_cygnus_camera_motor_server)

add_hwservice(hal_cygnus_camera_motor_server, hal_cygnus_camera_motor_hwservice)
allow hal_cygnus_camera_motor_client hal_cygnus_camera_motor_hwservice:hwservice_manager find;
